
/*{font-family: 'Gilroy', sans-serif;}
{font-family: 'Galien', sans-serif;}
*/

*,
*::after,
*::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
} 
ul, ol {
	margin: 0;
	padding: 0;
}

.container {
	width: 940px;
	margin: 0 auto;
} 

.header {
	padding: 56px 87px 170px;
	background: linear-gradient(to bottom, rgba(288,139,255,1) 55%, rgba(117,80,288,0.2) 91%);
}
.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__menu-logo {
	width: 48px;
	height: 32px;
}
.header__menu-hamb {
	width: 24px;
	height: 16px;
}
.header__hero {
	display: flex;
	justify-content: space-between;
	position: relative;
}
.header__hero-text {
	width: 510px;
	margin-left: 125px;
	margin-top: 110px; 
}
.header__hero-title {
	font-weight: 500;
	font-size: 64px;
	line-height: 74px;
	color: #1F3F68;
	width: 580px;
}
.header__hero-sub {
	font-size: 16px;
	line-height: 26px;
	color: #1F3F68;
	opacity: 0.6;
	width: 400px;
	margin: 32px 0 71px;
}
.header__hero-button a {
	font-size: 16px;
	line-height: 56px;
	color: #FFFFFF;
}
.header__hero-button{
	background-color: #5A98D0;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius: 10px;
	width: 220px;
	height: 56px;
	text-align: center;
}
.header__hero-image {
	position: absolute;
	right: -50px;
	top: 60px;
}

.help {
	padding: 92px 0;
}


.help__left {
	display: flex;
	justify-content: center;
}
.help__left-title {
	font-weight: 600;
	font-size: 36px;
	line-height: 46px;
	color: #316099;
	width: 358px;
	margin-bottom: 158px;
}
.help__left-item {
	background-color: #FFFFFF;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
   border-radius: 10px;
}
.help__item-img1 {
	width: 182px;
	height: 132px;
	margin: 48px 0px 56px 74px;
}
.help__item-img2 {
	width: 224px;
	height: 197px;
	margin: 20px 0px 20px 78px;
}
.help__item-img3 {
	width: 156px;
	height: 131px;
	margin: 47px 0px 29px 90px;
}
.help__item-content {
	padding: 0 48px 48px;
}
.help__item-title {
	color: #1F3F68;
	font-size: 20px;
	line-height: 30px;
	font-weight: 700;
	width: 257px;
}
.help__item-sub {
	font-size: 16px;
	line-height: 26px;
	color: #1F3F68;
   opacity: 0.6;
   width: 265px;
   margin: 16px 0 32px;
}
.help__item-link {
	font-size: 14px;
	line-height: 30px;
	color: #5A98D0;
	font-weight: 700;
	display: flex;
	align-items: center;
}
.help__item-link img {
	width: 16px;
	height: 16px;
	margin-left: 28px;
}

.help__right-item {
	background-color: #FFFFFF;
	box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
   border-radius: 10px;
}

.project {
	padding-bottom: 190px;
}

.project__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 850px;
}
.project__header-title {
	font-size: 36px;
	line-height: 46px;
	font-weight: 700;
	color: #1F3F68;
	width: 227px;
}
.project__header-text {
	font-size: 16px;
	line-height: 26px;
	color: #1F3F68;
   opacity: 0.6;
   width: 500px;
}
.project__background {
	background-image: url(../images/project.png);
	width: 940px;
	height: 417px;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	margin: 96px 0;
}
.project__background__title {
	font-size: 28px;
	line-height: 46px;
	color: #FFFFFF;
	padding: 48px 48px 8px 0;
}
.project__background__sub {
	font-size: 16px;
	line-height: 46px;
	color: #FFFFFF;
	opacity: 0.8;
	padding-right: 48px;
}
.project__apps {
	display: flex;
	justify-content: space-between;
}
.project__app1 {
	background-image: url(../images/app1.png);
	width: 422px;
	height: 417px;
}
.project__app-title {
	font-size: 28px;
	line-height: 46px;
	color: #FFFFFF;
	padding: 24px 0 4px 32px;
}
.project__app-sub {
	font-size: 16px;
	line-height: 46px;
	color: #FFFFFF;
   opacity: 0.8;
   padding-left: 32px;
}
.project__app2 {
	background-image: url(../images/app2.png);
	width: 422px;
	height: 417px;
}

.client {
	 background-color: #5A98D0;
	 border-radius: 200px 0px 0px 0px;
	 padding:96px 0px 0px;
}

.client__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 850px;
	margin-bottom: 150px;
}
.client__header-title {
	font-size: 36px;
	line-height: 46px;
	color: #FFFFFF;
	width: 227px;
}
.client__header-text {
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
   opacity: 0.6;
   width: 500px;
}
.client__wrap {
	margin-bottom: 125px;
}
.client__wrap-upper,
.client__wrap-bottom
 {
	display: flex;
	flex-wrap: wrap;
}
.client__item-upper {
	width: 235px;
   padding: 41px 0px 41px;
   text-align: center;
	color: #fff;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	transition: all ease 0.3s;
}
.client__item-bottom
 {
	width: 235px;
   padding: 41px 0px 41px;
   text-align: center;
	color: #fff;
	border-right: 1px solid #FFFFFF;
	transition: all ease 0.3s;
}
.client__item-more {
	 padding: 42px 59px 0px 60px;
    border-right: none;
    transition: all ease 0.3s;
}
 .client__item-4 {
 	border-right: none;
 }
 .client__item-upper:hover,
 .client__item-bottom:hover,
 .client__item-more:hover
 {
 	background-color: rgba(31,63,104, 0.2);
 }

.footer {
	background-color: #316099;
	width: 95%;
	border-radius: 0px 200px 0px 0px;
	color: #fff;
	padding: 91px 0 64px;
}

.footer__upper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__upper-content {
	width: 430px;
}
.footer__content-title {
	font-size: 36px;
	line-height: 46px;
	width: 317px;
	font-weight: 600;
}
.footer__content-sub {
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
	opacity: 0.6;
	margin: 32px 0 0px;
}
.footer__upper-button {
	width: 220px;
	height: 56px;
	background: #5A98D0;
   border-radius: 10px;
   text-align: center;
   line-height: 56px;
}
.footer__line {
	opacity: 0.4;
	border: 1px solid #FFFFFF;
	width: 86.5%;
	margin: 95px 0px;
}
.footer__bottom {}
.footer__bottom-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
 
.footer__contacts-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 190px;
	margin-bottom: 33px;
}
.footer__contacts-logo img {
	width: 48px;
	height: 32px;
}

.footer__logo-text {
	font-size: 28px;
	line-height: 46px;
}

.footer__contacts-item span {
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
	margin-right: 16px;
}
.footer__contacts-item {
	margin-bottom: 24px;
	width: 260px;
}
 
.footer__about-title {
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
	margin-bottom: 32px;
}
.footer__about-item {
	margin-bottom: 16px;
}
 
.footer__follow-title {
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
	margin-bottom: 32px;
}
.footer__follow-item {
	margin-bottom: 16px;
}
.footer__credits {
	color: #FFFFFF;
	opacity: 0.4;
	margin-top: 65px;
}